*.iws
*.imp
*.ipr
*.swp
*.iml
balboa.i*
target
tmp
.DS_Store
/target/
/project/target/
/project/project/target/
/.idea/
/.idea_modules/
docker/*.jar
balboa-kafka/docker/*.jar
marathon.properties
balboa-kafka-consumer.jar
balboa-kafka-service-LATEST.jar
*.jar
staging_config.properties
