*.iws
*.imp
*.ipr
*.swp
*.iml
balboa.i*
target
tmp
.DS_Store
/target/
/project/target/
/project/project/target/
/.idea/
/.idea_modules/
docker/*.jar
marathon.properties
*.jar
staging_config.properties
/jenkins/
