cassandra.servers = {{ CASSANDRAS }}
cassandra.keyspace = {{ CASSANDRA_KEYSPACE }}
{% if CASSANDRA_DATACENTER is defined -%}
cassandra.datacenter = {{ CASSANDRA_DATACENTER }}
{%- endif %}
balboa.datastore = cassandra
