# Overload Default Balboa Properties
########################################

cassandra.servers = {{ CASSANDRAS }}
cassandra.keyspace = Metrics2012
cassandra.retries = {{ CASSANDRA_RETRIES }}
{% if CASSANDRA_DATACENTER is defined -%}
cassandra.datacenter = {{ CASSANDRA_DATACENTER }}
{%- endif %}
balboa.datastore = buffered-cassandra

# Kafka Properties
########################################

zookeeper.connect = {{ ZOOKEEPERS }}
zookeeper.session.timeout.ms = 10000
group.id = balboa-kafka-consumer

# Balboa defined Kafka Properties
# The topic this specific service will be listening for
balboa.kafka.topic = {{ TOPIC }}
# The default number of partitions for a topic
balboa.kafka.topic.partitions = {{ THREADS }}

# Balboa Consumer Properties
########################################

# The amount of time (ms) that a thread is allotted to wait before continuing to consume messages
balboa.kafka.consumer.waittime = 1000

# Balboa Cassandra
# The levels at which to summarize. After you start summarizing, you should not
# ever change these existing. If you do, some tiers of summarization will contain
# inconsistent data with the rest.
balboa.summaries = fifteen_minute,hourly,daily,monthly,yearly

cassandra.sotimeout = 120000
cassandra.maxpoolsize = 10

failfast.initialbackoff = 10000
failfast.maxbackoff = 120000

# Default duration to buffer incoming metrics in memory
# balboa.datastore should be set to buffered-cassandra
buffer.granularity = 120000
