# Overload Default Balboa Properties
########################################

cassandra.servers = {{ CASSANDRA_ENSEMBLE }}
cassandra.keyspace = {{ CASSANDRA_KEYSPACE }}
balboa.datastore = cassandra

# Kafka Properties
########################################

zookeeper.connect = {{ ZOOKEEPER_ENSEMBLE }}
zookeeper.session.timeout.ms = 1000000
group.id = {{ CONSUMER_GROUP }}

# Balboa defined Kafka Properties
# The topic this specific service will be listening for
balboa.kafka.topic = {{ KAFKA_TOPIC }}
# The default number of partitions for a topic
balboa.kafka.topic.partitions = 8

# Balboa Consumer Properties
########################################

# The amount of time (ms) that a thread is allotted to wait before continuing to consume messages
balboa.kafka.consumer.waittime = 1000
