# Overload Default Balboa Properties
########################################

cassandra.servers = {{ CASSANDRAS }}
cassandra.keyspace = Metrics2012
cassandra.retries = {{ CASSANDRA_RETRIES }}
balboa.datastore = buffered-cassandra

# Kafka Properties
########################################

zookeeper.connect = {{ ZOOKEEPERS }}
zookeeper.session.timeout.ms = 10000
group.id = balboa-kafka-consumer

# Balboa defined Kafka Properties
# The topic this specific service will be listening for
balboa.kafka.topic = {{ TOPIC }}
# The default number of partitions for a topic
balboa.kafka.topic.partitions = {{ THREADS }}

# Balboa Consumer Properties
########################################

# The amount of time (ms) that a thread is allotted to wait before continuing to consume messages
balboa.kafka.consumer.waittime = 1000
