cassandra.servers = {{ CASSANDRAS }}
cassandra.keyspace = {{ CASSANDRA_KEYSPACE }}
cassandra.maxpoolsize = {{ CASSANDRA_MAXPOOLSIZE }}
cassandra.sotimeout = {{ CASSANDRA_SOTIMEOUT }}
{% if CASSANDRA_DATACENTER is defined -%}
cassandra.datacenter = {{ CASSANDRA_DATACENTER }}
{%- endif %}
balboa.datastore = cassandra
